// Power function, used for modular scale
@function pow($number, $exponent){
    $value: 1;
    @if $exponent == 0 {
      @return 1;
    }
    @if $exponent > 0 {
      @for $i from 1 through $exponent{
        $value: $value * $number;
      }
    }
    @if $exponent < 0 {
      @for $i from $exponent to 0 {
        $value: $value / $number;
      }
    }
    @return $value;
}